body {
    margin-left: 15%;
    margin-right:15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

h1, p {
    margin-bottom: 0;
}

#date {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.2em; 
}

textarea {
    border: 3px solid transparent;
    font-size: 1em;
    overflow: auto;
    outline: none;
    resize: none;
    padding: 0;
    background-color: transparent;
    width:100%;
    height: 100%;
    text-indent: 1%;
}

.focus:focus {
    border: 3px solid white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    width:100%;
}

td {
    padding: 0;
}

th {
    border: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    width: 5em;  
}

.btn {
    background-color: lightskyblue;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom: 2px solid white; 
    width: 2.5em;
}

.click-enabled:active {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;   
    border: 2px solid rgb(120, 197, 245);
}

button {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

img {
    max-height: 3em; 
    max-width: 3em;
}

tr {
    border-bottom: 1px solid white;
}

.tsk {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MOBILE ADJUSTMENTS*/

@media (max-width: 576px) {
    
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: .75em;
    }
}